/*Fonts eingefügt*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800');

/*generelle Einstellungen(Fonts etc.)*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    background-color: #161f30;
    color: white;
    /*mind. Größe 100vh->Display groß*/
    min-height: 100vh;
    /*kein scrolling nach links oder rechts*/
    overflow-x: hidden;
}

/*Menüleiste oben*/
.menu{
    height: 51px;
    background-color: #0d131dc7;
    border-width: 0px;
    border-color: white;
    border-style: groove;
    position: fixed;
    position: -webkit-fixed;
    position: -moz-fixed;
    position: -ms-fixed;
    position: -o-fixed;
    width: 100%;
    z-index: 300;
    overflow: hidden;
}

/*Icon links an der Menüleiste*/
.menu img{
    width: 60px;
    padding-left: 10px;

}

/*Menüelementmenge*/
.menu ul{
    list-style: none;
}

/*Position der Menüelemente*/
nav{
    float: right;
}

/*einzelne Menüelemente*/
.menu li{
    display: inline;
    padding: 15px
}

/*Links der Menüelemente zu den entsprechenden Inhalten*/
nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-top: 15px
}
/*Menüelemente wenn man drauf klickt*/
nav a:active{
    font-weight: bold;
}

/*Menüelemente wenn man drauf hovert*/
nav a:hover{
    color: rgb(139, 139, 139);
}
/*------------Menü Ende-----------------------*/

/*allgemeine Sectionverhalten*/
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: white;
}
/*Hauptüberschrift von firstSection*/
.mainTitle{
    font-size: 4em;
    margin-bottom: 50px;
}