@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
    background-image: linear-gradient(to bottom right, #000000, #FFFFFF);
    color: white;
    height: 1000px;
}
.firstSection{
}
.mainTitle{
    text-align: center;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 90px;
    font-size: 40px;
}